<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<div class="training-body">
<img class="img-responsive training-img" src="src/images/logo.JPG" alt="logo">
  <div class="container training-body">
     <div class="row">
        <div class="col-xs-4 col-sm-4"></div>
           <div class="col-xs-4 col-sm-4">

             <div  class="training-buttons">
             <a class="btn-default btn-lg btn-block" href="/#/armlist"> ARMS</a>
             <a class="btn btn-default btn-lg btn-block" href="/#/leglist"> LEGS </a>
             <a class="btn btn-default btn-lg btn-block" href="/#/chestlist"> CHEST </a>
             <a class="btn btn-default btn-lg btn-block" href="/#/backlist"> BACK </a>
             <a class="btn btn-default btn-lg btn-block" href="/#/shoulderlist"> SHOULDERS </a>
             </div>

            </div>
             <div class="col-xs-4 col-sm-4"></div>
       </div>
     </div>
</div>
